 </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p> <a href="/legal/terms">Terms</a>&nbsp;|&nbsp;<a href="/legal/privacy">Privacy Policy</a></p>
            <br>
            <p>&copy; Sliido</p>
        </div>
    </footer>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/grayscale.js"></script>
</body>
</html>