<% include header%>
                <h2>Sliido - Redefining campus information sharing</h2>
                <p>Sliido is a bold attempt to make information sharing on campus ridiculously easy</p>
<% include footer%>
