<% include header%>


<h2>Privacy Policy</h2>
<p>
Last updated: 25 october 2016. <br><br>
This page informs you of the policies of the operators ("us", "we", or "our") of Sliido (the "App") regarding the collection, use and disclosure of Personal Information we receive from users of the App.
</p>

<p>
we use your Personal Information only for providing and improving the App. By using the App, you agree to the collection and use of information in accordance with this policy.
</p>

<h4>Information Collection And Use</h4>
<p>
While using our App, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").
</p>

<h4>Log Data</h4>
<p>
Like many Apps, we collect information ("Log Data") you open our App. This Log Data may include but not limited to information such as your location, device type, device platform version, device model, the features of our App that you use frequently, the time and date of your use, the time spent using the App and other statistics. In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this.
</p>

<h4>Communications</h4>
<p>
We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that we believe you may find useful.
</p>

<h4>Security</h4>
<p>
The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
</p>

<h4>Changes To This Privacy Policy</h4>
<p>
This Privacy Policy is effective as of 25 october 2016 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page. We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy. If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.
</p>
<% include footer%>