<% include header%>

<h2>Terms of Service ("Terms")</h2>

Last updated: 25 october 2016.</br>

<p> Please read these Terms of Service ("Terms", "Terms of Service") carefully before using Sliido (the "Service").
</p>

<p>
Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all users and others who access or use the Service. By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
</p>
<p>
We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms. All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
</p>

<p>
Our Service may contain links to services that are not owned or controlled
by us. we have no control over, and assumes no responsibility for, the
content, privacy policies, or practices of any such third party services. You further
acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection
with use of or reliance on any such content, goods or services available on or through any such services.
We strongly advise you to read the terms and conditions and privacy policies of any third­party services.
</p>

<h4>Governing Law</h4>
<p>
These Terms shall be governed and construed in accordance with the laws of Ghana, without regard to its conflict of law provisions.
Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
</p>

<h4>Changes</h4>
<p>
We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
<% include footer%>